.back-icon {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #000;
    font-size: 40px;
  }
  
  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .btn-container {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  
  .btn {
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    font-size: 1rem;
  }
  
  .accent-color-1 {
    background-color: #C5E99B;
  }
  
  .accent-color-2 {
    background-color: #56445D;
  }
  
  .accent-color-3 {
    color: #548687;
  }
  
  .inputs-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
  }
  
  .input-container {
    display: flex;
    margin: 20px 0px;
  }
  
  .input-title {
    text-align: center;
    padding: 20px;
    flex: 1;
    color: #3AE4D0;
  }
  
  .input-wrapper {
    flex: 2;
    display: flex;
  }
  
  .input {
    flex-grow: 1;
    font-size: 18px;
    padding: 10px 0px;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgb(150, 150, 150);
  }
  
  .input:focus{
    border-bottom: 2px solid  #548687;
  }
  
  
  
  @keyframes colors {
    0% {
      color: #56445D;
    }
  
    25% {
      color: #A16DB5;
    }
  
    50% {
      color: #5BA1E0;
    }
  
    70% {
      color: #3AE4D0;
    }
  
    100% {
      color: #DFE43A;
    }
  }
  
  /* Scroll Bar */
  .cool-scroll-bar-17::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px; }
  
  .cool-scroll-bar-17::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0); }
  
  .cool-scroll-bar-17::-webkit-scrollbar-thumb {
    background-color: rgba(255, 178, 178, 0.72);
    border-radius: 10px; }